@page "/"

<PageTitle>Home</PageTitle>

<h1>Qué mas pués!</h1>

Bienvenidos parceros
<br />
<div></div>
<Form1 Parametro="paso string como parámetro"/>
<br />
<br />
Otra ves
<Form1 Parametro="parametro serio" />
otro 
<NuevaPelicula/>